<%- include('../partials/header') %> 
    <h3>Flight Details</h3>
    <section>
        <div><span>Airline:</span> <%= flight.airline %> </div>
        <div><span>Flight Number:</span> <%= flight.flightNo %> </div>
        <div><span>Departing from:</span> <%= flight.airport %> </div>
        <div><span>Departure Date:</span> <%= flight.departs.toDateString() %> </div>
        <div><span>Departure Time:</span> <%= flight.departs.toLocaleTimeString() %> </div>
    <!-- destinations table-->
    <div class="table">
        <table id="sortable">
            <thead>
                <tr>
                    <th>Arrivals</th>
                    <th>Arrival Date</th> 
                    <th>Arrival Time</th>
                    <th>Cancel</th>
                <tr>
            </thead>
            <tbody> 
                <% flight.destinations.sort(function (a, b) { %>
                    <% return a.arrivals - b.arrivals %>
                <% }); %> 
                <% flight.destinations.forEach(f => { %>
                <tr>
                    <td><%= f.airport.toString() %></td> 
                    <td><%= f.arrivals.toDateString() %></td>
                    <td><%= f.arrivals.toLocaleTimeString() %></td>
                    <td><form action="/destinations/<%= flight._id %>?_method=DELETE" method="POST">
                        <button type="submit">delete</button>
                    </form></td>
                </tr>
                <% }); %>  
            </tbody>
        </table>
    </div><br>
    <!--adding destination form-->
        <div class="table">
            <form id="destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
                <h3>Add a Destination</h3>
                <label>Destination Airport:</label><br>
                <select name="airport">
                    <% arrivalAirports.forEach(a => { %>
                        <% const list = []; %> 
                        <% a != flight.airport ? list.push(a) : null %>
                        <% list.forEach(l => { %>
                                    <option value="<%= l %>"><%= l %></option>
                        <% }); %> 
                    <% }); %> 
                </select><br>
                <label>Arrival Date & Time</label><br>
                <input name="arrivals" type="datetime-local" value="<%= arrivalsDate %>"><br>
                <input class="button" type="submit" value="Add Destination" />
            </form>
            </div>
    <!--tickets table-->
    <div class="table"><span>Ticket Options</span></div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Seat</th>
                    <th>Price</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach(t => { %>
                    <tr>
                        <td><%= t.seat %> </td>
                        <td>$<%= t.price %> </td>
                        <td><form action="/tickets/<%= flight._id %>?_method=DELETE" method="POST">
                            <button name="seat" value="<%= t.seat %>" type="submit">remove</button>
                        </form></td>
                    </tr>                 
                <% }) %>

            </tbody>
        </table>
    </div>
    </section>
    <section>
    <!--new ticket link-->
    <div class="table">
        <a class="button" href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
    </div>
    <!--meals table-->
    <div class="table">
        <table><tbody>
                <% const theMeals = []; %> 
                <% flight.meals.forEach(m => { %>
                    <% theMeals.push(m.theMeal) %> 
                <% }); %>
                <% uniqueMeals = [...new Set(theMeals)] %>
                <tr>
                    <td id="meal-options"><span>Meals Options</span></td>
                    <% uniqueMeals.forEach(m => { %>
                        <td><form action="/meals/<%= flight._id %>?_method=DELETE" method="POST">
                        <%= m %>  <input id="delete-meal" type="submit" value="remove" />
                        </form></td>
                    <% }); %>
                </tr>
            </tbody>
        </table>
    </div>
    <!--adding a meals form form-->
    <div class="table" >
    <form id="meal-form" method="POST" action="/flights/<%= flight._id %>/meals">
        <h3>Add a Meal</h3>
        <label>Meal Options: </label><br>
        <select name="theMeal">
            <% const list = []; %> 
            <% mealOptions.forEach(m => { %>
                <% uniqueMeals.includes(m) ? null : list.push(m) %> 
                <% }); %>
            <% list.forEach(l => { %>
                <option value="<%= l %>"><%= l %></option>
            <% }); %>
        </select>
        <input class="button" type="submit" value="Add Meal" />
    </form>
    </div>
    <br>
    <!--adding a delete form to delete the ENTIRE FLIGHT-->
    <form class="table" method="POST" action="/flights/<%= flight._id %>?_method=DELETE">
        <input class="button" type="submit" value="Delete Flight" />
    </form>
    </section>
    <br>
    <a class="button" href="/flights">Back</a>
<%- include('../partials/footer') %> 
