<%- include('../partials/header') %> 
    <h3>Flight Details</h3>
    <section>
        <div><span>Airline:</span> <%= flight.airline %> </div>
        <div><span>Flight Number:</span> <%= flight.flightNo %> </div>
        <div><span>Departing from:</span> <%= flight.airport %> </div>
        <div><span>Departure Date & Time:</span> <%= flight.departs %> </div>
        <div class="table">
            <table>  
                <tbody>
                    <% const theMeals = []; %> 
                    <% flight.meals.forEach(m => { %>
                        <% theMeals.push(m.theMeal) %> 
                    <% }); %>
                    <% uniqueMeals = [...new Set(theMeals)] %>
                    <tr>
                            <td id="meal-options"><span>Meals Options</span></td>
                            <% uniqueMeals.forEach(m => { %>
                                <td><form action="/meals/<%= flight._id %>?_method=DELETE" method="POST">
                                <%= m %>  <input id="delete-meal" type="submit" value="remove" />
                                </form></td>
                            <% }); %>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- destinations table-->
    <div class="table">
        <table id="sortable">
            <thead>
                <tr>
                    <th>Arrivals</th>
                    <th>Arrival Date</th> 
                    <th>Arrival Time</th>
                    <th>Cancel</th>
                <tr>
            </thead>
            <tbody> 
                <% flight.destinations.sort(function (a, b) { %>
                    <% return a.arrivals - b.arrivals %>
                <% }); %> 
                <% flight.destinations.forEach(f => { %>
                <tr>
                    <td><%= f.airport.toString() %></td> 
                    <td><%= f.arrivals.toDateString() %></td>
                    <td><%= f.arrivals.toLocaleTimeString() %></td>
                    <td><form action="/destinations/<%= flight._id %>?_method=DELETE" method="POST">
                        <button type="submit">delete</button>
                    </form></td>
                </tr>
                <% }); %>  
            </tbody>
        </table>
    </div>
    <!--tickets table-->
    <div>
        <table>
            <thead>
                <tr>
                    <th>Tickets</th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach(t => { %>
                    <tr>
                        <td><%= t.seat %> </td>
                        <td><%= t.price %> </td>
                    </tr>                 
                <% }) %>

            </tbody>
        </table>
    </div>
    </section>
    <!--adding destination form-->
    <form method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Add a Destination:</label>
        <select name="airport">
            <% arrivalAirports.forEach(a => { %>
                <% const list = []; %> 
                <% a != flight.airport ? list.push(a) : null %>
                <% list.forEach(l => { %>
                            <option value="<%= l %>"><%= l %></option>
                <% }); %> 
            <% }); %> 
        </select><br>
        <label>Add an Arrival Date & Time</label><br>
        <input name="arrivals" type="datetime-local" value="<%= arrivalsDate %>"><br>
        <input class="button" type="submit" value="Add Destination" />
    </form>
    <!--adding a meals form form-->
    <form method="POST" action="/flights/<%= flight._id %>/meals">
        <label>Add a Meal: </label>
        <select name="theMeal">
            <% mealOptions.forEach(m => { %>
                <option value="<%= m %>"><%= m %></option>
            <% }); %>
        </select>
        <input class="button" type="submit" value="Add Meal" />
    </form><br>
    <!--new ticket link-->
    <a class="button" href="/flights/<%= flight._id %>/tickets/new">Add a Ticket</a>
    <br><br><br>
    <!--adding a delete form-->
    <form method="POST" action="/flights/<%= flight._id %>?_method=DELETE">
        <input class="button" type="submit" value="Delete Flight" />
    </form><br><br><br>
    <a class="button" href="/flights">Back</a>
<%- include('../partials/footer') %> 
